input, label, button{
	display: block;
	max-width: 200px;
	width: 100%;
 }

 input[type="file"]{
 	max-width: 600px;
 	width: 100%
 }

 select{
 	max-width: 200px;
 	width: 200px;
 }

textarea {
	width:500px;
    max-width:100%;
    width:100%;
}

 section{
 	margin-bottom: 20px;
 	margin-top: 20px;
 }

 .item-profile{
	float:left;
	margin-right:20px;
 }
 
 .item-profile-right{
 	float:left;
 }

a, figure {
    display: inline-block;
}

figcaption,
figure {
  display: block;
  text-align: center;
}

.btn-user{
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 10px;
	max-height: 30px;
	padding: 0px 12px;
 }

 .div-profile{
 	width: 600px;
 	margin: 20px auto;

 }