* {
  box-sizing: border-box;
}

*:focus {
	outline: none;
}

.btn {
  width: 100px;
  display: inline
}

.button-div{
  text-align: right;
}

input[type="radio"] {
    width: 40px;
}
input[type="search"] {
    width: 80%;
}
input[type="text"] {
    width: 30%;
}